<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URLPull" value="http://localhost:7071/api/HttpRequestJob"/>
    <add key="URLPush" value="http://localhost:7071/api/HttpSendJob"/>
    <add key="ServiceTimer" value="5000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>